<div class="col-md-12">
    <div class="col-md-12">
        <h2>Change Password</h2>
        <h5>Change your password below. </h5>
    </div>
</div>
<!-- /. ROW  -->

<div class="col-md-12">
    <hr />
    <div class="col-md-6">
    <input class="form-control" type="password" id="current-password" placeholder="Current Password:" /><br/>
    <input class="form-control" type="password" id="new-password" placeholder="New Password:" /><br/>
    <input class="form-control" type="password" id="re-password" placeholder="Confirm Password:" /><br/>
    <p><button class="btn btn-danger pull-right btn-lg col-md-4">Change password</button></p>
</div>
</div>

