

        <div class="row">
            <div class="col-md-12">
                <h2>Your DashBoard</h2>
                <h5>Welcome Iykke , Love to see you back. </h5>
            </div>
        </div>
        <!-- /. ROW  -->
        <div class="col-md-12">
        <hr />
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-red set-icon">
                    <i class="fa fa-envelope-o"></i>
                </span>
                    <div class="text-box" >
                        <p class="main-text">10 Events</p>
                        <p class="text-muted">Created</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-red set-icon">
                    <i class="fa fa-clock-o"></i>
                </span>
                    <div class="text-box" >
                        <p class="main-text">120 Pending</p>
                        <p class="text-muted">Invitees</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-green set-icon">
                    <i class="fa fa-clock-o"></i>
                </span>
                    <div class="text-box" >
                        <p class="main-text">30 Pending</p>
                        <p class="text-muted">request</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-brown set-icon">
                    <i class="fa fa-table"></i>
                </span>
                    <div class="text-box" >
                        <p class="main-text">My Calender</p>
                        <p class="text-muted">all events</p>
                    </div>
                </div>
            </div>
        </div>
</div>
        <!-- /. ROW  -->
        <hr />
<div class="col-md-12">
        <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-green set-icon">
                    <i class="fa fa-calendar"></i>
                </span>
            <div class="text-box" >
                <p class="main-text">Display</p>
                <p class="text-muted">Looking Good</p>
            </div>
        </div>

    <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-green set-icon">
                    <i class="fa fa-calendar"></i>
                </span>
        <div class="text-box" >
            <p class="main-text">Display</p>
            <p class="text-muted">Looking Good</p>
        </div>
    </div>

    <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-green set-icon">
                    <i class="fa fa-calendar"></i>
                </span>
        <div class="text-box" >
            <p class="main-text">Display</p>
            <p class="text-muted">Looking Good</p>
        </div>
    </div>

</div>