<div class="row" style="position: absolute; z-index: 9999;width:100%; margin-top: -100px;">
<div class="login" id="change">
    <h2 class="home-title">LOGIN</h2>
    <div class="col-md-12">
        <p class="alert alert-danger" style="display: none;" id="msg">error message</p>
        <input class="form-control" type="text" id="email" placeholder="E-mail:" />
        <input class="form-control" type="password" id="password" placeholder="Password:" /><br/>
        <p><button class="btn btn-danger pull-right btn-lg col-md-4" ng-click="login()">Login</button></p>
        <br/>
        <br/>
        <p>
            New to Kandela?<a href="#/register"> Create an account</a><br/>
            Need Help?<a href="#/recover"> Recover password</a>
        </p>

    </div>

</div>
</div>