        <div class="col-md-12">
            <div class="col-md-12">
                <h2>Personal Information</h2>
                <h5>You can update your profile details below. </h5>
            </div>
        </div>
        <!-- /. ROW  -->

<div class="col-md-12">
    <hr />
       <div class="col-md-6">
        <form>
            <img src="bc12-kalendar/../images/avatar.png" class="img-thumbnail" />

            <p>Select Photo</p>
            <input class="form-control" type="file" id="imageUpload" /><br/>

            <input class="form-control" type="text" id="name" placeholder="Name:" /><br/>
            <input class="form-control" type="text" id="email" placeholder="E-mail:" readonly/><br/>
            <select id="gender" class="form-control">
                <option>Select Gender</option>
                <option>Male</option>
                <option>Female</option>
            </select><br/>
            <p>Allow users to send you invite <input type="checkbox" id="receive-invite"/></p>
            <br/>
            <p><button class="btn btn-warning pull-right btn-lg col-md-4">Save</button></p>
        </form>
       </div>

            <div style="clear:both;"></div>
        </div>

</div>