<div class="row" style="position: absolute; z-index: 9999;width:100%; margin-top: -100px;">
<div class="login" id="change">
    <h2 class="home-title">RESET PASSWORD</h2>
    <div class="col-md-12">
        <input class="form-control" type="email" id="email" placeholder="E-mail:" /><br/>
        <p><button class="btn btn-danger pull-right btn-lg col-md-4">Reset</button></p>
        <br/>
        <br/>
        <p>
            New to Kandela?<a href="#/register"> Create an account</a><br/>
            Already a member?<a href="#/login"> Login</a>
        </p>

    </div>

</div>
</div>