<div class="row" style="position: absolute; z-index: 9999;width:100%; margin-top: -100px;">
    <div class="login" id="change">
        <h2 class="home-title">REGISTER</h2>
        <div class="col-md-12">
            <input class="form-control" type="text" id="name" placeholder="Name:" /><br/>
            <input class="form-control" type="text" id="email" placeholder="E-mail:" /><br/>
            <input class="form-control" type="password" id="password" placeholder="Password:" /><br/>
            <input class="form-control" type="password" id="re-password" placeholder="Confirm Password:" /><br/>
            <p><button class="btn btn-warning pull-right btn-lg col-md-4">Register</button></p>
            <br/>
            <br/>
            <p>
                Already a member?<a href="#/login"> Login</a><br/>
                Need Help?<a href="#/recover"> Recover password</a>
            </p>

        </div>

    </div>
</div>