        <div class="col-md-12">
            <div class="col-md-12">
                <h2>Sent Invites</h2>
                <h5>See below all your sent invites. </h5>
            </div>
        </div>
        <!-- /. ROW  -->

<div class="col-md-12">
    <hr />
        <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-green set-icon">
                    <i class="fa fa-calendar"></i>
                </span>
            <div class="text-box" >
                <div class="pull-left">
                <p class="main-text">Display</p>
                <p class="text-muted"><span class="badge alert-danger">Pending</span></p>
                </div>
                <p class="pull-right">

                    <button class="btn btn-danger">cancel</button>
                </p>
            </div>
            <div style="clear:both;"></div>
        </div>

        <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-green set-icon">
                    <i class="fa fa-calendar"></i>
                </span>
            <div class="text-box" >
                <p class="main-text">Display</p>
                <p class="text-muted">Looking Good</p>
            </div>
        </div>

        <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-green set-icon">
                    <i class="fa fa-calendar"></i>
                </span>
            <div class="text-box" >
                <p class="main-text">Display</p>
                <p class="text-muted">Looking Good</p>
            </div>
        </div>


</div>